@import "./scss/variables.scss";

body {
  font-family: $primary-font;
  margin: 0 !important;
  white-space: pre-wrap;
  word-break: break-word;
  display: flex;
  justify-content: center;
  background-color: $color-accent;
  color: $color-white;
}

// Global
.section-container {
  padding: $spacing-md;
  max-width: 1200px;
}
