// Fonts
$primary-font: "Comfortaa", "cursive";

// Spacing
$spacing-sm: 8px;
$spacing-md: 16px;
$spacing-lg: 24px;
$spacing-xl: 32px;

// Colors
$color-primary: #350480;
$color-accent: #444444;
$color-white: #fafafa;